/* Global View */

body {
    font-family: 'Asap', sans-serif;
    color: white;
    background-color: #EBEBEB;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 150px;
}

.header-container {
    background-color: rgb(49, 45, 45);
    min-height: 100px;
    position: fixed;
    width: 100%;
}

header {
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    background-color: rgb(160, 72, 243);
    width: 30%;
    margin-bottom: 40px;
}

.col p {
    font-size: .875rem;
    padding: 20px 25px;
    line-height: 1.25rem;
}

.hide-box-desktop {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

.col p::first-line {
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 20px;  
}

.highlight {
    font-weight: 700;
}

.mob-wrapper {
    display: none;
}






/* Tablet View */

@media (max-width: 800px) {
    .col {
        width: 45%;
    }

    .hide-box-desktop {
        display: block;
    }

    header {
        display: block;
        text-align: center;
    }

    .header-container {
        position: relative;
    }

    .container {
        padding: 40px;
    }

    nav {
        display: none;
    }

    nav a {
        display: block;
        margin-left: 0;
    }

    .logo {
        padding: 40px 0;
    }

    .mob-wrapper {
        display: block;
    }

    .mob-nav {
        display: none;
    }

}


/* Phone View */

@media (max-width: 500px) {
    .col {
        width: 100%;
    }

    .hide-box-phone {
        display: none;
    }

}